In [1]:
import pandas as pd

In [6]:
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)')

In [7]:
len(simpsons)

24

In [13]:
simpsons[1]

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
0,1,1,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989",7G08,26.7[48]
1,2,2,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990",7G02,24.5[48]
2,3,3,"""Homer's Odyssey""",Wes Archer,Jay Kogen & Wallace Wolodarsky,"January 21, 1990",7G03,27.5[49]
3,4,4,"""There's No Disgrace Like Home""",Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,"January 28, 1990",7G04,20.2[50]
4,5,5,"""Bart the General""",David Silverman,John Swartzwelder,"February 4, 1990",7G05,27.1[51]
5,6,6,"""Moaning Lisa""",Wes Archer,Al Jean & Mike Reiss,"February 11, 1990",7G06,27.4[52]
6,7,7,"""The Call of the Simpsons""",Wes Archer,John Swartzwelder,"February 18, 1990",7G09,27.6[53]
7,8,8,"""The Telltale Head""",Rich Moore,"Al Jean, Mike Reiss, Sam Simon & Matt Groening","February 25, 1990",7G07,28.0[54]
8,9,9,"""Life on the Fast Lane""",David Silverman,John Swartzwelder,"March 18, 1990",7G11,33.5[55]
9,10,10,"""Homer's Night Out""",Rich Moore,Jon Vitti,"March 25, 1990",7G10,30.3[56]
10,11,11,"""The Crepes of Wrath""",Wes Archer & Milton Gray,"George Meyer, Sam Simon, John Swartzwelder & J...","April 15, 1990",7G13,31.2[57]
11,12,12,"""Krusty Gets Busted""",Brad Bird,Jay Kogen & Wallace Wolodarsky,"April 29, 1990",7G12,30.4[58]
12,13,13,"""Some Enchanted Evening""",David Silverman & Kent Butterworth,Matt Groening & Sam Simon,"May 13, 1990",7G01,27.1[59]

# 1 Read a .csv from a URL with Pandas
target websites: https://www.football-data.co.uk/data.php

In [19]:
# reading 1 csv file form the website
df_premier21 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv')

In [20]:
# showing data frame
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,E0,13/04/2024,17:30,Bournemouth,Man United,2,2,D,2,1,...,3.04,-0.25,2.05,1.75,2.12,1.83,2.16,1.84,2.08,1.79
319,E0,14/04/2024,14:00,Liverpool,Crystal Palace,0,1,A,0,1,...,3.56,-2.00,1.89,2.04,1.87,2.06,1.93,2.06,1.87,2.00
320,E0,14/04/2024,14:00,West Ham,Fulham,0,2,A,0,1,...,2.22,-0.25,2.11,1.82,2.14,1.82,2.14,1.83,2.10,1.79
321,E0,14/04/2024,16:30,Arsenal,Aston Villa,0,2,A,0,0,...,2.87,-1.75,1.95,1.98,1.96,1.96,1.98,2.02,1.91,1.95
322,E0,15/04/2024,20:00,Chelsea,Everton,6,0,H,4,0,...,2.31,-0.75,1.86,2.07,1.86,2.08,1.88,2.09,1.85,2.02

In [22]:
#rename columns
df_premier21.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'}, inplace=True)

In [23]:
#show data frame
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,E0,13/04/2024,17:30,Bournemouth,Man United,2,2,D,2,1,...,3.04,-0.25,2.05,1.75,2.12,1.83,2.16,1.84,2.08,1.79
319,E0,14/04/2024,14:00,Liverpool,Crystal Palace,0,1,A,0,1,...,3.56,-2.00,1.89,2.04,1.87,2.06,1.93,2.06,1.87,2.00
320,E0,14/04/2024,14:00,West Ham,Fulham,0,2,A,0,1,...,2.22,-0.25,2.11,1.82,2.14,1.82,2.14,1.83,2.10,1.79
321,E0,14/04/2024,16:30,Arsenal,Aston Villa,0,2,A,0,0,...,2.87,-1.75,1.95,1.98,1.96,1.96,1.98,2.02,1.91,1.95
322,E0,15/04/2024,20:00,Chelsea,Everton,6,0,H,4,0,...,2.31,-0.75,1.86,2.07,1.86,2.08,1.88,2.09,1.85,2.02